a{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/moonrise-beach.jpg);
}

h1{
    font-size: 57px;
    color: yellow;
    /* TODO: try to animate text coming down from top of screen */
}

h2{
    color: pink;
    font-size: 30px;
    text-align: center;
}

#titleSection{
    text-align: center;
    
}

#timerSection{
    box-sizing: border-box;
    padding 20px;
}

p{
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#box-1{
    box-sizing: border-box;
    margin: 0 280px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

#answer{
    padding: 15px 0;
    line-height: 5em;
}